repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy app tests
        language: system
        types: [python]
        pass_filenames: false
